<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>ImageCropBundle</title>

    {% block assets_header %}
        <link rel="stylesheet" href="{{ asset('bundles/imagecrop/css/imagecrop.css') }}">
    {% endblock assets_header %}
</head>
    <body class="page-imagecrop">
        {% block image_crop_content %}
        {% endblock image_crop_content %}

        {% block assets_footer %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
            <script src="{{ asset('bundles/imagecrop/js/headers.js') }}"></script>
            <script src="{{ asset('bundles/imagecrop/js/imagecrop.js') }}"></script>
            <script src="{{ asset('bundles/imagecrop/js/imagecrop.ui.crop.js') }}"></script>
        {% endblock assets_footer %}
    </body>
</html>
