<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>ImageCropBundle</title>
    <link rel="stylesheet" href="{{ asset('bundles/imagecrop/css/Jcrop.min.css') }}">

    <script src="{{ asset('bundles/imagecrop/js/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/imagecrop/js/Jcrop.min.js') }}"></script>
</head>
<body>

<div>
    {% block image_crop_content %}
    {% endblock image_crop_content %}
</div>
</body>
</html>
